.dashboard-container {
  height: 130vh;
  width: 100%;
  background-color: rgb(204, 224, 252);
}

.header-container {
  width: 100%;
  height: 15vh;
  border: 1px solid black;
}

.sidebar-container {
  width: 15%;
  height: 120vh;
  border: 1px solid black;
}
.home-container {
  width: 85%;
  height: 120vh;
  border: 1px solid black;
}
