/* Stylesheet.css */

.suggestion-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
  }
  
  .title-section {
    margin-bottom: 20px;
    text-align: center;
    font-size: 53px;
    font-weight: 900;
    color: rgb(17,24,39);
    line-height: 75px;
  }
  
  .xerocodee-label {
    color: #007bff;
    font-weight: bold;
    animation: colorTransition 5s linear infinite;
  }
  
  @keyframes colorTransition {
    0% {
      color: #007bff;
    }
    25% {
      color: #0056b3;
    }
    50% {
      color: black;
    }
    100% {
      color: rgb(37, 33, 33);
    }
  }
  
  .description-section {
    width: 86%;
    margin: auto;
    text-align: center;
    font-size: 19px;
    margin-bottom: 20px;
    color: rgb(107, 114, 128);
  }
  .description-section p{
    word-spacing: 2px;
  }
  
  .button-section {
    text-align: center;
  }
  
  .xerocodee-button {
    padding: 10px 20px;
    background-color: rgb(29,78,216);
    margin-top: 20px;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .xerocodee-button:hover {
    background-color: #0056b3;
  }
  
  .hero-image{
      width: 100%;
  }
  .hero-image img{
      width: 100%;
  }
  
  @media (max-width: 700px) {
    .title-section {
      margin-bottom: 20px;
      text-align: center;
      font-size: 30px;
      font-weight: 900;
      line-height: 45px;
    }
  }
  